<div class="container" style="margin-top: 10px;">
    <div class="card">
        <h1 class="card-header">EDITAR PRESENTACION</h1>

        <div class="card-body">
            <%= render 'form', presentation: @presentation %>

            <%= link_to 'Show', @presentation %> |
            <%= link_to 'Back', presentations_path %>

        </div>


    </div>



</div>