
<div class="row">

    <div class="container">
        <div class="grafico">

       
            <canvas id="g_barra" width="80" height="50" ></canvas>
       
            <canvas id="g_pastel" width="80" height="50" style="margin-left:20px"></canvas>
      
     
        </div>
    </div>
</div>
<script src="/assets/chartjs.js"></script>