
<div class="container" style="margin-top: 10px;">
    <div class="card">
        <h1 class="card-header">EDITAR MARCA</h1>
        
        <div class="card-body">
            <%= render 'form', tradmark: @tradmark %>

            <%= link_to 'Show', @tradmark %> |
            <%= link_to 'Back', tradmarks_path %>
        </div>


    </div>



</div>

